<h1>Contacts</h1>
<%= link_to 'Create new', new_contact_path %>
<ul>
  <% @contacts.each do |contact| %>
    <li>
      <%= link_to (contact.first_name + ' ' + contact.last_name), contact %>
    </li>
  <% end %>
</ul>